mixin demo()
  script(src="/polysocket.js")
  script(src="/demo.js")
  .demo
    .row
      .col-lg-1
      .col-lg-6
        h2 Demo
        em using WebSocket server for <a href="http://html5demos.com/web-socket" target="_blank">http://html5demos.com/web-socket</a>
        .connection
          span.status.label.label-danger Disconnected
          p.users Users Connected:
        textarea(rows="10", cols="50")
        form
          input(type="text", name="test")
          input(type="submit", value="send")
      .col-lg-4.text-left
        br
        br
        br
        .well
          h3 So What?
          ul
            li 
              strong That's no WebSocket
              span : we configured PolySocket to use xhr-polling instead of WebSocket (check dev tools).
            br
            li 
              strong No changes to the server. 
              span In fact... we don't even control the demo server. We're connecting to a 
              em pure 
              span websocket server used in html5 demos (thanks Remy).
            br
            li 
              strong A true WebSocket polyfill 
              span by substituting "PolySocket" in for "WebSocket" in your client code, you can rely on using WebSockets in any browser. 
      .col-lg-1
