extends layout

block content
  .splash
    .container
      .row
        .col-lg-12.text-center
          h1 PolySocket
      .row
        .col-lg-12
          p Program pure WebSockets while supporting old browsers



