extends layout
include demo

block content
  header.header
    .container
      .jumbotron
        iframe.pull-right(src="http://nodeknockout.com/iframe/nodest-colony", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
        h1 PolySocket 
        p.lead Develop realtime apps using only WebSockets, yet still support old browsers and crummy networks
  .container.text-center
    .panel.panel-info
      .panel-heading
        h1 Demo
      .panel-body
        +demo()
    .row
      .col-lg-4
        h2 What?
        p.lead PolySocket modernizes older browsers and poor networks to speak pure WebSockets, to the delight of developers and operations teams.
      .col-lg-4
        h2 Why?
        p.lead Because you want to develop realtime applications for all your customers and only think about scaling WebSockets (not hacks). 
      .col-lg-4
        h2 How?
        p.lead When WebSockets are unavailable, the browser connects to a PolySocket Relay. The relay then pipes all data to your pure WebSocket server.
  .container
    .panel.panel-info
      .panel-heading.text-center
        h1 Let's use PolySocket!
      .panel-body
        .row
          .col-lg-6
            h3 chat server
            script(src="https://gist.github.com/supershabam/7382515.js")
          .col-lg-6
            h3 chat client
            script(src='https://gist.github.com/supershabam/7382596.js')
      .panel-footer.text-center
        h2 Woah! Only WebSockets in the server!?
        p.lead Yes, that's right. No hard to scale/maintain/understand hacks in your application code!
        p.lead Oh, and use whatever backend language you want.
    .row
      .col-lg-12
        .page-header
          h1 Try it in your own app
          pre= '<script src="http://polysocket.io/polysocket.js" type="text/javascript"></script>'
