doctype 5
html
  head
    title polysocket
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/vendor/jquery-1.10.2.min.js')
  body
    iframe(src="http://nodeknockout.com/iframe/nodest-colony", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
    block content
