doctype 5
html
  head
    title polysocket
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/vendor/json3.min.js')
    script(src='/vendor/es5-shim.min.js')
    script(src='/vendor/jquery-1.10.2.min.js')
    script(src='/vendor/console-shim.min.js')
  body
    block content
